/*
 * nt.spa.shell.css
 * Shell styles
*/

.nt_spa-shell-head, .nt_spa-shell-head-logo, .nt_spa-shell-head-acct,
.nt_spa-shell-head-search, .nt_spa-shell-main, .nt_spa-shell-main-nav,
.nt_spa-shell-main-content, .nt_spa-shell-foot,
.nt_spa-shell-modal {
  position : absolute;
}
.nt_spa-shell-head {
  top    : 0;
  left   : 0;
  right  : 0;
  height : 40px;
}
.nt_spa-shell-head-logo {
  top    : 4px;
  left   : 8px;
  height : 32px;
  width  : 128px;
}
  .nt_spa-shell-head-logo h1 {
    font   : 800 22px/22px Arial, Helvetica, sans-serif;
    margin : 0;
  }
  .nt_spa-shell-head-logo p {
    font   : 800 10px/10px Arial, Helvetica, sans-serif;
    margin : 0;
  }

.nt_spa-shell-head-acct {
  top           : 4px;
  right         : 0;
  width         : 400px;
  height        : 32px;
  line-height   : 32px;
  background    : #888;
  color         : #fff;
  text-align    : center;
  cursor        : pointer;
  overflow      : hidden;
  text-overflow : ellipsis;
}

.nt_spa-shell-head-acct-lang {
  top    : 4px;
  left   : 8px;
  height : 32px;
  width  : 200px;
	cursor : default;
	background-color : #fff;
}
.nt_spa-shell-main {
  top    : 40px;
  left   : 0;
  bottom : 40px;
  right  : 0;
}
.nt_spa-shell-main-content,
.nt_spa-shell-main-nav {
  top    : 0;
  bottom : 0;
}
.nt_spa-shell-main-nav {
  width      : 300px;
  background : #3e5c76;
  z-index    : 1;
  padding-top: 50px;
  padding-left: 10px;
}

.nt_spa-shell-main-nav li {
	cursor: pointer;
	color: grey;
	margin-bottom: 5px;
}

.nt_spa-shell-main-nav-module.selected {
	cursor: default;
	color: #fff;
}

  .nt_spa-x-closed .nt_spa-shell-main-nav {
    width  : 0;
  }

.nt_spa-shell-main-content {
  left  : 300px;
  right : 0;
  background : #ddd;
}
  .nt_spa-x-closed .nt_spa-shell-main-content {
    left : 0;
  }
.nt_spa-shell-foot {
  bottom : 0;
  left   : 0;
  right  : 0;
  height : 40px;
}
.nt_spa-shell-modal {
  margin-top    : -200px;
  margin-left   : -200px;
  top           : 50%;
  left          : 50%;
  width         : 400px;
  height        : 400px;
  background    : #fff;
  border-radius : 3px;
  z-index       : 2;
  display       : none;
}
