################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/spa_architecture/v15/.suo
/.vs/spa_architecture/config/applicationhost.config
/.vs/spa_architecture/v16/.suo
/.vs/slnx.sqlite